[summary]{
  
  border-bottom: solid 2px black;

  td{
    font-weight: bold;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:3px;
    padding-right:3px;
  }

}

[window]{
  text-transform: capitalize;
}