[container]{
  padding:10px !important;
}

ion-header[valid]{
  background-color: #F4BB40;
}

ion-toolbar {
  padding-left: 5px;
  padding-right: 5px;
}

ion-header[welcome] {
  background-color:  #111447 !important;
}
