<div container>
  <div section>
  <div section center>
    <div emphasis center>Connect Your Gig Accounts</div>  
  </div>
  <div center>
    Get personalized insights that help<br />you optimize your work!
  </div>
</div>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img style="width:40%" src="assets/imgs/analytics/earnings/welcome/dashboard-1.png" />
    </ion-slide>
    <ion-slide>
      <img style="width:40%" src="assets/imgs/analytics/earnings/welcome/dashboard-2.png" />
    </ion-slide>
    <ion-slide>
      <img style="width:40%" src="assets/imgs/analytics/earnings/welcome/dashboard-3.png" />
    </ion-slide>
  </ion-slides>

  <div center>
    <button good title class="full-button" (click)="connectAccountsClick()">Let's get started</button>
  </div>

  <div section>
    <ul>
      <li>See all your earnings in one place</li>
      <li>Notice trends across different days, weeks, and months</li>
      <li>See which apps are paying you the most per hour</li>
    </ul>
  </div>

</div>