<ion-content class="reset">
  <div class="top-back">
    <button ion-button full margin-top class="full-button positive back-button" type="button"
      (click)="backToLogin()"><img src='assets/imgs/ArrowLeft.svg' margin-top></button>
  </div>
  <div class="content-wrapper-inner">
    <div class="content-inside">
      <div class="inside-wrap">
        <div *ngIf="!this.contentInvisible">
          <h2>Forgot password?</h2>
          <p>Forgot your password? No worries.<br><br>Enter your Driver’s Seat email address and we’ll send you an email
            with a link where you can set an updated password.</p>
          <ion-item no-padding lines="none">

            <ion-input [(ngModel)]="email" type="email" class="border-bottom" placeholder="Enter your email"
              [ngClass]="this.getInputClass(this.emailErrorVisible)"></ion-input>
          </ion-item>
          <div class="characters" *ngIf="this.emailErrorVisible"
              [ngClass]="this.getInputClass(this.emailErrorVisible)">Email format is invalid</div>
        </div>

        <div class="check-email" *ngIf="this.contentInvisible">
          Please check your email for further instructions.
        </div>
      </div>
      <button *ngIf="!this.contentInvisible" ion-button full margin-top class="full-button positive box-shadow-button" [disabled]="!email"
        (click)="submit()">Submit</button>
    </div>
  </div>
</ion-content>
