* {
  color: #e6282a;
}

[container]{
  padding:10px;
  background-color: #FADBD8;
}

button[manage]{
  background-color: #e6282a;
  color:white;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
}