table {
  width: 100%;
}

div[container] {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

[shiftStats] {
  //color: #323fff;
  color: white;
}



ion-toggle {
  --background: #BFC3FF;
  --handle-background: white;

  --background-checked: #00B876;
  --handle-background-checked: white;
  --handle-height: 33px;
  --handle-width: 33px;
  height: 33px;
  width: 60px;
}



[linkCantStartShift] {
  background-image: url("/assets/imgs/insights/Info.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px;
  vertical-align: middle;
}


[shiftTitleText] {
  color: black;
  font-size: 1.2em;
  ;
}

[off] {
  color: green;
}


[on] {
  color: green;
}

[disabled] {
  color: #CC0000;
}

[tracker]{
  border-style: solid;
  border-width: 4px;
  border-radius: 100%;
  padding: 8.5px;

  padding-left: 7px;
  padding-right: 10px;
  padding-top: 9px;
  padding-bottom: 8px;

  width: 60px;
  height: 60px;
  background-color: white;

  ion-icon{
    height:35px;
    width:35px;
  }

  
  &.on {
    border-color: green;
    // background-color:green;
    // color:white;
    color: #323fff;
    animation: tracking_on 1s infinite;
    animation-duration: 1s;
    animation-name: tracking_on;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &.off{
    border-color: green;
    // background-color:transparent;
    // color:green;
    color: #323fff;
    // color:white;
  }

  &.locked { 
    border-color: gray;
    color: gray;
  }

  &.disabled {
    border-color:red;
    background-color: white;
    color:red;
    padding-left: 8.5px;
    padding-right: 8.5px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
  }
}



@keyframes tracking_on {
  0%   {border-top-color: #F4BB40;}
  25%  {border-right-color: #F4BB40;}
  50%  {border-bottom-color: #F4BB40;}
  75% {border-left-color: #F4BB40;}
}

[left]{
  text-align: left;
}

[right]{
  text-align: right;;
}