<div container>
    <div section center>
      <img style="width:60%" src="assets/imgs/analytics/hourly-pay/preview.png" />
    </div>
    <div section center>
      <div emphasis center>Best Times to Work</div>
    </div>
    <div section>
      Powered by data from rideshare and delivery wokers in your area, this free tool 
      will take the guesswork out of picking the best schedule for you!  
    </div>
    <div section>
      See average hourly pay for each gig platform, each hour of the week, with plenty 
      of options for focusing on what matters to you!
    </div>
    <div section></div>
    <div>
      <button good class="full-button" (click)="getStartedClick()">Let's get started</button>
    </div>
</div>