* {
  
  font-size: 16px;
  font-weight: normal;
  color: black;
}

a {
  color: blue;
}

table {
  width: 100%;
  table-layout: fixed;
  user-select: none;

  td{
    vertical-align: top;
  }

  thead {
    td{
      vertical-align: bottom;
    }
  }
}

[section] {
  padding-bottom: 20px;
}

[container] {
  padding: 20px;
  user-select: none;
}


[title] {
  font-weight: bold;
  
  * {
    font-weight: bold;
  }
}


[emphasis]{
  font-size: 1.4em;
  font-weight: bold;
}

[center]{
  text-align: center;
}

[right] {
  text-align: right;
}

[subtext] {
  font-size:12px;
  color:gray
}

.error {
  color:red;
}

.good {
  color: green;
}

ion-content{
  &.welcome{
    background-color: purple !important;
  }
}

button[good]{
  background-color: green !important;
  *{
    color:white;
    font-weight:bolder;
  }
  
}

button[ignore]{
  color:white;
  *{
    color:white;
  }
}

ion-footer[problem]{
  background-color: #FADBD8;
}

[money]{
  text-align: right;
}

[time]{
  text-align: right;
}


[stats]{
  [engaged]{
    background-color: rgba(255, 184, 0, 1)
  }

  [notEngaged]{
    background-color: silver
  }

  [miles] {
    text-align: right;
  }

  [time] {
    text-align: right;
  }

  td{
    padding: 3px;
  }

  thead {
    td{
      font-weight: bold;
    }
  }

  tbody[detail]{
    td{
      border: solid 1px silver;
    }
  }

  tbody[total] {
    td{
      font-weight: bold;
    }
  }

}