<div container>
  <div section center>
    <img style="width:60%" src="assets/imgs/analytics/earnings/waiting-for-data/preview.png" />
  </div>
  <div section center>
    <div emphasis center>Fetching your data...</div>
  </div>
  <div section>
    We're building your personalized earnings dashboard.  
    This may take a few hours the first time.
  </div>
  <div>
    <div>In the meantime:</div>
  </div>
  <div section>
    <ul>
      <li (click)="onAddExpenseClick()">Track your <a>expenses</a></li>
      <li (click)="onGigAccountsClick()">Make sure all of your <a>Gig Accounts</a> are connected</li>
      <li (click)="onCompleteProfileClick()">Complete your <a>Profile</a></li>
      <li (click)="onShiftRemindersClick()">Set up your work schedule and <a>Shift Reminders</a></li>
    </ul>
  </div>
</div>