[section] {
  padding-bottom: 10px;
}

[container]{
  padding:10px;
}

ion-icon {
  font-size: 20px;
  color: blue;
  font-weight: normal;
}

.stats {

  margin-bottom: 10px;
  position: relative;

  &.paid-time {

    padding: 5px;
    padding-left: 100px;
    margin-bottom: 20px;
    min-height: 100px;

    canvas {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      width: 80px;
    }
  }

  &.graph {
    padding: 10px;
    position: relative;
    text-align: center;

    canvas {
      margin-top: 10px;
      height: 300px;
    }
  }
}

ion-spinner {
  margin-top: 30px;
  margin-bottom: 30px;
}

[more-stats] {
  padding-top: 20px;
}

[refresh] {
  padding: 10px;
  padding-bottom:30px;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;

  td {
    vertical-align: top;
  }

  td.icon {
    img {
      height: 50px;
    }
  }

  tr.spacer {
    td {
      height: 20px;
    }
  }
}

table[tabs] {

  margin-top: 20px;
  margin-bottom: 10px;

  td {
    border-bottom: solid 4px transparent;
    text-align: center;
    
    color: #9a9a9a;
    font-size: 18px;

    &.active {
      border-bottom: solid 4px #F4BB40;
      color: black;
    }
  }
}

.perfVal {
  font-size: 26px;
  font-weight: 600;
}


[nodata] {
  padding: 20px !important;
  font-size: 16px;
  text-align: left;
  background-color: #FFF1CC;
  border: solid 2px rgba(255, 184, 0, 1);
  color: black;

  li {
    padding-bottom: 5px;
    font-size: 16px !important;
  }
}

a {
  font-size: 16px !important;
}
