* {
  
  font-size: 16px;
  font-weight: normal;
  color: black;
}

a {
  color: blue;
}

table {
  width: 100%;
  table-layout: fixed;
  user-select: none;

  td{
    vertical-align: top;
  }
}

[section] {
  padding-bottom: 20px;
}

[container] {
  padding: 20px;
  user-select: none;
}


[title] {
  font-weight: bold;
  
  * {
    font-weight: bold;
  }
}


[emphasis]{
  font-size: 1.4em;
  font-weight: bold;
}

[center]{
  text-align: center;
}


[subtext] {
  font-size:12px;
  color:gray
}

.error {
  color:red !important;
}

.good {
  color: green !important;
}

.connecting {
  color: orange !important;
}

ion-content{
  &.welcome{
    background-color: purple !important;
  }
}

button[good]{
  background-color: green !important;
  *{
    color:white;
    font-weight:bolder;
  }
  
}

button[ignore]{
  color:white;
  *{
    color:white;
  }
}

ion-toolbar{
  background-color:white;
}