<ion-content>
  <div content>
    
    <div section title>
      How We Use Argyle
    </div>
    <div section>
      Driver’s Seat uses a service called Argyle to connect to rideshare and delivery platforms and automatically import
      trips and earnings into Driver’s Seat.
    </div>
    <div section>
      Specifically, Argyle gives us access to your past and future trip and profile data from the platforms linked by
      you.
    </div>
    <div section>
      Driver’s Seat only uses and stores the following data:
      <ul>
        <li>Your profiles</li>
        <li>Your activities</li>
        <li>Your vehicles</li>
      </ul>
    </div>
    <div section>
      This data will be imported into the Driver’s Seat app to automate the trips and earnings functionality associated
      with your account so that you are no longer required to manually track your trips and earnings.
    </div>
    <div section>
      Driver’s Seat will not have access to any pay allocations data, which includes sensitive banking information.
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button class="full-button positive" (click)="close()">
      Close
    </button>
  </ion-toolbar>
</ion-footer>